@font-face {
    font-family: 'Vazir';
    font-style: normal;
    font-weight: 300;
    src: url('../../resources/assets/font/vazir_font/Vazir.ttf'),
         url('../../resources/assets/font/vazir_font/Vazir.woff') format('woff'),
         url('../../resources/assets/font/vazir_font/Vazir.woff2') format('woff2');
}
@font-face {
    font-family: 'VazirB';
    font-style: normal;
    font-weight: Bold;
    src: url('../../resources/assets/font/vazir_font/Vazir-Bold.ttf'),
         url('../../resources/assets/font/vazir_font/Vazir-Bold.woff') format('woff'),
         url('../../resources/assets/font/vazir_font/Vazir-Bold.woff2') format('woff2');
}
body
{
    font-family: Vazir,sans-serif;
}
